body {
  background-color: #111;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  position: relative;
  width: 300px;
}

.heading {
  position: absolute;
  height: 30px;
  top: -15px;
  margin-left: 35px;
  background-color: #f30b92;
  color: black;
  width: 200px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  padding-top: 40px; /* Extra padding so heading doesn't overlap text */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}